*{margin: 0; padding: 0; box-sizing: border-box;}
.App {
  display: flex; flex-direction: column; align-items: center;
  .container{
    text-align: center;display: flex; flex-direction: column; align-items: center;background-image: linear-gradient(to left,  #052a59 50%, #007d7e 100%); width: auto;height: auto;margin-top: 100px;margin-bottom: 100px;width: 40vh;
    .input input{width: 28vh;height: 28px;background-color: #ccebfe;border: 0px;}
    .titre{color: #0ccac4;}
    .robot{margin-bottom: 40px;}
  }
}



